<div>
    <label>User</label>
    <select name="user">
        <% users.forEach(user => { %>
            <% if (user.id.toString() === reservation.user?.toString()) { %>    
                <option selected value="<%= user.id %>"><%= user.name %></option>
            <% } else { %>
                <option value="<%= user.id %>"><%= user.name %></option>
            <% } %>
        <% }) %>
    </select>
</div>

<div>
    <label>Car Make</label>
    <input type="text" name="carMake" value="<%= reservation.carMake %>">
</div>
<div>
    <label>Car Model</label>
    <input type="text" name="carModel" value="<%= reservation.carModel %>">
</div>

<div>
    <label>Game Day</label>
    <input type="date" name="gameDay" 
        value="<%= reservation.gameDay == null ? '' :
        reservation.gameDay?.toISOString().split('T')[0] %>">
</div>
