<h2> Search Reservations</h2>
<form action="/reservations" method="GET">
<div>
    <label>User</label>
    <input type="text" name="user" value="<%= searchOptions.user %>">
</div>

<% reservations.forEach(reservation => { %>
    <div>
        <div><%= reservation.carMake %></div>
    <div><%= reservation.carModel %></div>
    <div><%= reservation.gameDay == null ? '' :
        reservation.gameDay?.toISOString().split('T')[0] %></div>    
    <a href="/users/<%= reservation.id %>">View</a>
    <a href="/users/<%= reservation.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm',
        { url: `/reservations/${reservation.id}` }) %>  
    </div>
    
        
<% }) %>