<h2>Recently Added Reservations</h2>
<div>
    <% reservations.forEach(reservation => { %>
        <a href="/reservations/<%= reservation._id %>">
            <div><%= reservation.user.name %></div>
        </a>
        <div> Car Make: <%= reservation.carMake %> </div>
        <div> Car Model: <%= reservation.carModel %> </div>
        <label>Game:</label>
        <div> -> <%= reservation.game.date.toDateString() %></div>
        <div> -> <%= reservation.game.time %></div>
        <div> -> <%= reservation.game.opponent %></div>

        <br>
    <% }) %>
</div>